*{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body{
background-color: #f9f9f9;
color: #333;
line-height: 1.5;    
}
header{
background-color: #4a90e2;
}
.hero{
color: whitesmoke;
text-align: center;
padding: 50px 17px;    
width: 100%;
}
.hero h1{
font-size: 2rem;    
}
.hero p{
margin: 15px 0;
font-size: 18px;    
}
.call-to-action-button{
background: #f9f9f9;
color: #4a90e2;
padding: 10px 20px;
text-decoration: none;
font-weight: bold;
border-radius: 5px;    
}
.features{
display: flex;
flex-direction: column;
gap: 20px;
padding: 40px 20px;
background: #fff;

}
.feature{
background: #f1f1f1;
padding: 20px;
border-radius: 8px;
text-align: center;    
}
.feature img{
width: 100px;
height: 100px;
margin-bottom: 10px;    
}
.feature h3{
color: #4a90e2;
margin-bottom: 7px; 
font-size: 23px;  
}
p{
font-size: 18px;    
}
footer{
display: flex;
flex-direction: column;
align-items: center;   
background: #333; 
}
.p-footer{
color: #fff;    
}
.email{
text-decoration: none;
color: #fff;    
}
.media{
display: flex;   
}
.sm-icon{
width: 40px;
height: 40px;    
}
@media only screen and  (min-width: 768px){
.hero h1{
font-size: 3rem;    
}
.hero p{
margin: 15px 0;
font-size: 22px;    
}
.cta-button{
background: #f9f9f9;
color: #4a90e2;
padding: 15px 22px;
text-decoration: none;
font-weight: bold;
border-radius: 6px;    
}
.features{
display: flex;
flex-direction: row;
gap: 35px;
padding: 40px 20px;
background: #fff;

}
.feature{
background: #f1f1f1;
padding: 20px;
border-radius: 8px;
text-align: center;    
}
.feature img{
width: 150px;
height: 150px;
margin-bottom: 10px; 
border-radius: 5px;   
}
.feature h3{
color: #4a90e2;
margin-bottom: 7px; 
font-size: 27px;  
}
p{
font-size: 18px;    
}}